{% extends "rango/base.html" %}

{% block title %}User Profile{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>User Profile</h1>
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    {% if userprofile %}
        <p>Website: <a href="{{userprofile.website }}">{{ userprofile.website }}</a></p>
        <br />
        {% if userprofile.picture.url %}
            <img src="{{ userprofile.picture.url }}" />
        {% endif %}
    {% endif %}
</div>
{% endblock %}
