{%- set currentUrl -%}{{ page.url | url }}{%- endset -%}

<meta name="author" content="{{ meta.author }}" />
<meta name="description" content="{{ meta.description }}" />

<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:title" content="{{ meta.title }}" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:image" content="{{ social_image }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:site_name" content="{{ site_title }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ social_image }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:description" content="{{ meta.desc }}" />


<link rel="icon" type="image/svg+xml" href="/favicon.svg" id="favicon-svg" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="{{ meta.themeColor }}" />
<meta name="theme-color" content="{{ meta.themeColor }}" />
