---
layout: layouts/base.liquid
---

<h1>Hey. 👋</h1>
<h2>My name is Josh Wiegand.</h2>
<p>
	I craft computer bits and bytes to help people get things done. I find it necessary to deeply
	understand the things which is probably how I got into tech and definitely how I ended up the
	family IT person. I enjoy learning and talking about most things including new tech (software
	and hardware), medicine, cinematography, astronomy, lawn care, woodworking, you get the picture.
</p>

<p>
	You can follow me on <a href="https://twitter.com/joshrwiegand">Twitter</a>, or
	<a href="https://www.instagram.com/josh.wiegand/">Instagram</a> where I infrequently post about
	something I find interesting.
	I also do my best to stay active on <a href="https://github.com/jrwiegand"> GitHub</a>, opening the occasional PR.
</p>
<p>
	When I am not programming, I am likely helping my wife raise our two kids, playing or watching
	sports (especially basketball), reading a book, fixing a thing, taking in a movie, mowing the
	grass, or doing something else that is vitally important for the next two minutes.
</p>
