---
layout: layouts/base.liquid
---

<h1>Hey. 👋</h1>
<h2>My name is Josh Wiegand.</h2>
<p>
	I work on computer bits and bytes while living in Maryland. I find it necessary to deeply understand the things around me. This mostly involves software but can include hardware, medicine, cinematography, astronomy, lawn care, woodworking, you get the picture. I do enjoy opening the occasional PR on <a href="https://github.com/jrwiegand"> GitHub</a>.
</p>

<p>
	You can follow me on <a href="https://twitter.com/joshrwiegand">Twitter</a>, or <a href="https://www.instagram.com/josh.wiegand/">Instagram</a> where I infrequently post about something I find interesting.
</p>
<p>
	When I am not programming, I am likely helping my wife raise our two kids, playing or watching sports (especially basketball), reading a book, fixing a thing, watching movies, mowing the grass, or doing something else that is vitally important for the next two minutes.
</p>
