---
layout: layouts/base.liquid
---

<h1>Hey. 👋</h1>
<h2>My name is Josh Wiegand.</h2>
<p>
	I am an engineering manager currently living in Maryland. I enjoy learning about new
	technologies (digitally-based or otherwise) and do my best to understand them deeply. I look for
	ways to put time and effort into OSS work.
</p>
<p>
	Outside of programming and helping my wife take care of our two kids, I enjoy sports (especially basketball), watch movies, and working on house projects.
</p>
