/* CSS reset stolen from, https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* End CSS Reset */

body {
	font-family:
		-apple-system,
		Segoe UI,
		Roboto,
		Noto Sans,
		Ubuntu,
		Cantarell,
		Helvetica Neue,
		sans-serif;
	padding: 5vh 10vw;
	line-height: 1.6;
	font-size: 1.2rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

footer {
	max-width: 32rem;
}

h1 {
	padding: 2rem 0;
}

h2 {
	padding: 1.5rem 0;
}

main {
	max-width: 32rem;
	height: 100%;
}

p {
	padding: 0.5rem 0;
}

.profile {
	border-radius: 3.5rem;
	height: 7rem;
	margin: 0.5rem 0;
}
