<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Josh Wiegand</title>
		<link rel="stylesheet" href="main.css">
	</head>

	<body>
		<header></header>
		<main>{{ content }}</main>
		<footer>
			<p>
				<a
					style="text-decoration: none"
					href="https://hynek.me/til/copyright-years/"
					target="_blank"
					rel="noopener noreferrer"
					>©</a
				>
				1989 Josh Wiegand.
			</p>
			<p>
				No tracking. No cookies.
			</p>
			<p>
				Made with
				<a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer"
					>Eleventy</a
				>; hosted on
				<a href="https://pages.cloudflare.com/" target="_blank" rel="noopener noreferrer"
					>Cloudflare Pages</a
				>.
			</p>
		</footer>
	</body>
</html>
